<div class="container-fluid">
  <div class="row">
    <div class="col justify-content-center">
      <div class="centered">
      <h2 style="text-align: center; color: #737373"  >Kridtin Sanardhan</h2>
      <div  class="d-flex flex-row justify-content-between" style="color: #BFBFBF" >
        <p routerLink="/Professional" (mouseover)="changeBg('Professional')" (mouseleave)="changeBg('')">Professional</p>
        <p routerLink="/Personal" (mouseover)="changeBg('personal')" (mouseleave)="changeBg('')">Personal</p>
      </div>
    </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>